#form-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#form-book {
    height: 20rem;
    width: 20rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: [label] auto [input] 1fr;
}

label {
    grid-column: label;
    align-self: center;
    text-align: right;
}

input {
    grid-column: input;
    align-self: center;
}

.addBook {
    
    &-svg {
        height: 5rem;
        width: 5rem;
    }
}