.library {
    height: 80vh;
    width: 80vw;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    &-headings {
    display: grid;
    grid-template-columns: 1.25fr 1fr .65fr .75fr .1fr;
    grid-template-rows: auto;
    row-gap: .5rem;
    }

    &-books {
        display: grid;
        grid-template-columns: 1.25fr 1fr .65fr .75fr .1fr;
        grid-template-rows: auto;
        row-gap: .5rem;
    }
}